# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment variables
.env

# Native builds
*.apk
*.ipa
*.app

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
